<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <section
    class="cropper-container">
      <angular-cropper
        #angularCropper
        [imageUrl]="data.imageSelected"
        [cropperOptions]="cropperjsOptions">
      </angular-cropper>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="data.applyBtnDisabled"
    (click)="applyHandler()">
      {{data.applyBtnLabel}}
  </button>
</div>
