.centered-box {
  display: block;
  margin: auto;
}

.publication-form-container {
  margin-top: 15px;
}

.publication-form {
  width: 100%;
}

.actions-container {
  margin-top: 15px;
  text-align: center;
}
