<div class="global-publication-container">
  <app-element-card
    class="centered-box"
    [defaultIcon] = "profileDefaultIcon"
    [card] = "user">
  </app-element-card>

  <!-- Actions -->
  <mat-card class="actions-container" *ngIf = "!displayPublicationForm">
    <button
      mat-raised-button
      color="primary"
      *ngIf="!currentUserIsFollower"
      (click)="followUser()"
      [disabled]="btnFollowUnfollowDisabled">
        Seguir
    </button>
    <button
      mat-button
      color="warn"
      *ngIf="currentUserIsFollower"
      (click)="unfollowUser()"
      [disabled]="btnFollowUnfollowDisabled">
        Dejar de seguir
    </button>
  </mat-card>

  <!-- Box to create publications -->
  <mat-card class="publication-form-container" *ngIf = "displayPublicationForm">
    <app-text-and-image-form
      class = "publication-form"
      textInputLabel = "Comparte algo con tus seguidores."
      textInputPlaceholder = "Dí lo que necesites."
      (newContent) = "newPublicationHandler($event)">
    </app-text-and-image-form>
  </mat-card>

  <!-- Publication list -->
  <app-publication-display
    class = "global-publication-card"
    *ngFor = "let p of publications"
    [publication] = "p"
    [activeButtons] = "['comment', 'favorite']"
    (favorite) = "favoriteEventHandler($event)"
    (comment) = "commentEventHandler($event)">
  </app-publication-display>

  <div *ngIf = "voidTimeline" class="global-text-center top-separation">
    <p>Este usuario aún no ha hecho alguna publicación en su perfil.</p>
  </div>

  <div *ngIf = "!voidTimeline && emptyPostsResponse" class="global-text-center top-separation">
    <p>Hemos llegado al final de las publicaciones disponibles para mostrarte.</p>
  </div>
</div>
