/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.global-text-right {
  text-align: right;
}

.global-text-center {
  text-align: center;
}

.global-btn-right {
  text-align: right;
}

.global-btn-right button {
  margin: 5px;
}

.global-shadow {
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.2);
}

.global-flex-centering-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.global-container-bg-color {
  background-color: #FFF;
}

.global-main-bg-color {
  background-color: rgb(240, 240, 240);
}

.global-main-title {
  display: block;
  width: 100%;
  text-align: center;
}

.global-card-element {
  width: 100%;
  height: 75%;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.global-card-element-container {
  margin: 50px auto 50px auto;
  box-sizing: border-box;
  width: 100%;
}

.global-container {
  margin: 15px auto 15px auto;
  box-sizing: border-box;
  width: 70%;
}

.global-container-main {
  padding: 30px;
}

.global-publication-container {
  /*width: 500px;*/
  width: 35%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.global-publication-card {
  margin-bottom: 15px;
  margin-top: 15px;
}

.global-menu-container {
  position: fixed;
  bottom: 100px;
  right: 50px;
}

@media (max-width: 450px) {
  .global-menu-container {
    right: 15px;
    bottom: 70px;
  }
}

@media (max-width: 540px) {
  .global-publication-container {
    width: 100%;
  }
}

@media (max-width: 1444px) and (min-width: 541px) {
  .global-publication-container {
    width: 500px;
  }
}

@media (max-width: 830px) {
  .global-card-element-container {
    width: 100%;
  }
  .global-container {
    width: 100%;
  }
}
